<table class="table table-striped">
  <thead>
    <tr>
      <th>Snippet Title</th>
    </tr>
  </thead>

  <tbody>
    <% @snippets.each do |snippet| %>
      <tr>
        <td><%= link_to snippet.title, snippet %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snippet', new_snippet_path, class: 'btn btn-primary' %>
