<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>CodaShare</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">Hi! It's codashare, a great place to save your greatest code snippets and get famous. Log in to post your code and comments. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <a class="btn btn-primary" href="<%= new_user_session_path %>">Log in</a>
      <a class="btn btn-primary" href="<%= new_user_registration_path %>">Join!</a>
    </div>
  </div>
</div>